.completed {
    text-decoration: line-through;
        color: red;
    

}

.todo-is-not-complete {

    color: rgb(19, 164, 0);
}




    header{
        text-align: center;
        background-color: rgb(0, 0, 0);
        color: aliceblue;
        background-image: url('moutains.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
    }

   

    #deleteButton{
   margin-left: 10px;
    }
    #SubmitTodo{
        background-color: black;
            color: white;
            margin-top: 10px;
    }




#updateButton{
    margin-left: 10px;
}

#toDoTextInput {
    margin-bottom: 10px;
    font-family: 'Poppins'; font-size: 18px;
}


.btn-group {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    
}

body {
     background: linear-gradient(to top, rgb(19, 67, 72) 0%, rgba(3,75, 82, 0) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#foot{
    background-color: black;
}

.form{
    text-align: center;
    background-color: black;
}

.text{
    text-align: center;
    margin: 5px;
}

h3
{
    background-color: black;
    text-align: center;
    color: azure;
}

